* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

:root {
	--my-font-family-main: "Inconsolata", monospace;
	--my-font-family-secondary: "Teko", sans-serif;
	--my-color-black: #252525;
}

@keyframes messageEditDeleteAnimation {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 100;
	}
}

@keyframes commentAppend {
	from {
		translate: -100vw;
	}

	to {
		translate: 0px;
	}
}

@keyframes darkLightModeAnimation {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes errorAnimation {
	from {
		opacity: 0;
		translate: -10px;
	}

	to {
		opacity: 100;
	}
}

@keyframes loadingSpinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes pageTransitionSecondary {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes pageTransitionMain {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes mainTextIntro {
	from {
		opacity: 0%;
		translate: -10px;
	}
	to {
		opacity: 100%;
	}
}

@keyframes openMenu {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}
